
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik", serif;
}
.main{
    background: none;
    align-items: center;
    justify-content: center;
}
#story #story-1{
    background-color: #1a1a1abb;
    height: auto;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 40px 0 100px #0084ff , -40px 0 100px #9533f0;
}
#story #story-1 p{
    font-size: 1.5rem;
    width: 100rem;
}
#story{
    transform: scale(0.59);
    margin-top: 100px;
}
@media (max-width: 1010px){
    .title-main{
        overflow-y: auto;
    }
    #story #story-1{
        background-color: transparent;
        box-shadow: none;
        max-height: 100vh;
    }
    #story #story-1 p{
        font-size: 1.5rem;
        width: auto;
    }
    #story{
        transform: scale(1);
        margin-top: 0px;
    }
}
