@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
body{
    background: linear-gradient(to left, rgb(10, 10, 10) , rgb(56, 55, 55) , rgb(10, 10, 10) )no-repeat;
    background-size: 300% 200%;
    background-size: cover;
    animation: bkg 10s linear infinite;
}
@keyframes bkg{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 30% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
header{
    background-color: #574c6841;
    padding: 12px 0px;
    position: absolute;
    width: 100%;
    z-index: 3;
    position: fixed;
}
header nav .bkg-color{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .bkg-color .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.logo img{
    width: 42px;
    padding: 8px 0;
}
.logo{
    cursor: pointer;
}
ul{
    display: flex;
    margin-right: 30px;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
ul li a{
    color: #fff;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.7s;
}
ul li a:hover{
    color: #9533f0;
}
ul .contact{
    padding-right: 20px;
}
ul a button{
    position: relative;
}
header span{
    color: #b81b1b;
}
header .logo a{
    color: #0084ff;
    text-decoration: none;
    font-size: 0.8em;
}
.main{
    display: flex;
    align-items: center;
    padding: 100px;
    background: url(./image/bkg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.main .title-main{
    color: #fff;
    height: 30vh;
    display: flex;
    flex-direction: column;
}
.main .title-main{
    margin-top: 5vh;
}
.main .title-main h1{
    color: #fff;
    font-size: 60px;
}
button{
    width: 300px;
    height: 75px;
    font-size: 22px;
    border-radius: 999px;
    border: 5px solid rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to left, rgb(204, 19, 19) , blue , rgb(204, 19, 19));
    animation: btn 5s linear infinite;
    background-size: 500% 200%;
    transition: 0.7s;
}
.main button{
    width: 300px;
    height: 70px;
    font-size: 22px;
    border-radius: 999px;
    border: 5px solid rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to left, rgb(204, 19, 19) , blue , rgb(204, 19, 19));
    animation: btn 5s linear infinite;
    background-size: 500% 200%;
    transition: 0.7s;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
button:hover{
    background-position: 30% 50%;
}

.bkg-color button{
    transform: scale(0.8);
    width: 250px;
    height: 70px;
    margin-right: 40px;
}
.sec-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.txt-color{
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0 100px 0;
    font-size: 2rem;
    text-transform: uppercase;
    background-clip: text;
    background: linear-gradient(to left , #9533f0 , #0084ff , #9533f0);
    -webkit-background-clip: text;
    background-size: 500% 200%;
    -webkit-text-fill-color: transparent;
    font-family: "poppins" sans-serif;
    animation: text-anim 10s linear infinite;
}
@keyframes text-anim{
    0%{
        background-size: 100% 100%;
    }
    50%{
        background-size: 500% 500%;
    }
    100%{
        background-size: 100% 50%;
    }
}
.sec-1 .carts .cart img{
    width: 55%;
    height: 255px;
    margin-bottom: 50px;
    border-radius: 15px;
}
.sec-1 .carts .cart:hover{
    transform: scale(1.05);
}
.sec-1 .carts .cart{
    display: flex;
    transform: scale(1);
    flex-direction: column;
    align-items: center;
    background-color: #2e2e2e;
    padding: 50px 0;
    border-radius: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: 0.7s;
}
@keyframes cart-anim{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.sec-1 .carts .cart button{
    transform: scale(0.7);
}
.sec-1 .carts{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    animation: cart-anim 10s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.sec-2{
    background: linear-gradient(to left, rgb(154, 21, 21) , rgb(22, 69, 116) , rgb(121, 29, 131) , rgb(20, 71, 123));
    background-size: 300% 200%;
    animation: bkg2 10s linear infinite;
    box-shadow:-30px 0 100px rgb(22, 69, 116) , 30px 0 100px rgb(121, 29, 131);
}
.sec-2 h1{
    -webkit-text-fill-color: white;
    padding-bottom: 0;
}
@keyframes bkg2{
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 30% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
.sec-2 p{
    width: 50%;
    max-width: 50%;
    font-size: 1.4rem;
    color: #fff;
    display: flex;
    height: 30rem;
    align-items: center;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about img{
    width: 25rem;
    display: flex;
    padding: 50px;
    background-color: #2e2e2e;
    border-radius: 999px;
    margin-left: 60px;
}
.sec-3 .txt-color{
    padding-top: 100px;
}
.main .title-main .icon{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 20px 0 0 0;
}
.main .title-main .icon #kk{
    margin-left: 40px;
}
.main .title-main .icon a{
    margin-right: 60px;
    color: #fff;
    transition: 0.7s;
}
.main .title-main .icon #fcb{
    margin: 0;
}
.main .title-main .icon a:hover{
    color: #985ff5;
    transform: scale(1.2);
}
.main .b1{
    color: #0084ff;
}
header #eng{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 60px;
    font-size: 1.2rem;
    transition: 0.5s;
    position: absolute;
    margin-left: 38.6rem;
    margin-top: 21px;
}
header #eng:hover{
    color: rgb(0, 106, 255);
}
.cards .card{
    background: linear-gradient(to top, rgb(96, 17, 160) , rgb(9, 91, 168));
    background-size: 500% 170%;
    width: 30rem;
    height: 35rem;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    animation: bkg2 10s linear infinite;
    transition: 0.7s;
    margin-bottom: 30px;
}
.cards .card:hover{
    transform: scale(1.07);
}
.cards .card i{
    font-size: 19rem;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards .card h1{
    margin-bottom: 20px;
}
.cards .card p{
    color: rgb(36, 36, 36);
    font-size: 1.1rem;
    font-weight: bold;
}
footer{
    color: #fff;
    background: linear-gradient(to left, rgb(57, 20, 112) , rgb(19, 77, 135) , rgb(121, 29, 131));
    padding: 20px 0;
}
footer h1{
    font-size: 1.15rem;
    margin-left: 30px;
}
header .close-menu , .open-menu{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    display: none;
}
header .close-menu span , .open-menu span{
    color: #9533f0;
    font-size: 2.2rem;
}
header #check{
    display: none;
}
html, body {
    overflow-x: hidden;
}
@media (max-width: 1010px){
    header ul{
        right: -100%;
        top: 0;
        background-color: #2e2e2e;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        width: 70%;
        height: 100%;
        margin-right: 0px;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }
    header ul li{
        font-size: 1.3rem;
        margin-bottom: 80px;
        background: linear-gradient(to left, rgb(57, 20, 112) , rgb(19, 77, 135) , rgb(121, 29, 131));
        border-radius: 15px;
    }
    header ul li a{
        margin-left: 0px;
        padding: 15px;
    }
    header button{
        display: none;
    }
    header .close-menu , .open-menu{
        display: block;
    }
    header .close-menu span{
        margin-bottom: 60rem;
    }
    header .bkg-color .logo{
        padding-left: 10px;
    }
    header #eng{
        margin-right: 38.5rem;
        margin-top: 24.5rem;
        font-size: 1.6rem;
    }
    header nav .bkg-color .logo{
        padding: 0px 25px;
    }
    .main{
        padding: 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-position: center;
    }
    .sec-1 .carts .cart{
        margin-right: 0px;
        transform: scale(0.9);
    }
    .sec-1 .carts .cart:hover{
        transform: scale(0.98);
    }
    .sec-1 h1{
        font-size: 1.5rem;
    }
    .cards .card{
        margin-left: 0px;
        transform: scale(0.8);
    }
    .cards .card:hover{
        transform: scale(0.9);
    }
    .sec-2 img{
        display: none;
    }
    .sec-2 p{
        font-size: 1.2rem;
        width: 68%;
        max-width: 68%;
        height: 40rem;
    }

    #check:checked ~ ul{right: 0;}
}
@media(max-height: 682px){
    header .close-menu span{
        margin-bottom: 45rem;
    }
}
@media(max-height: 840px){
    header .close-menu span{
        margin-bottom: 40rem;
    }
}
@media(max-height: 750px){
    header .close-menu span{
        margin-bottom: 35rem;
    }
}
@media(max-height: 1024px){
    header .close-menu span{
        margin-bottom: 40rem;
    }
}
@media(max-height: 568px){
    header .close-menu span{
        margin-bottom: 25rem;
    }
    header ul li{
        font-size: 0.7rem;
        margin-bottom: 40px;
    }
}
@media(max-width: 360px){
    .sec-2 p{
        font-size: 1rem;
        width: 68%;
        max-width: 68%;
        height: 38rem;
    }
    header ul li{
        font-size: 1.3rem;
        margin-bottom: 40px;
        background: linear-gradient(to left, rgb(57, 20, 112) , rgb(19, 77, 135) , rgb(121, 29, 131));
        border-radius: 15px;
    }
    header .close-menu span{
        margin-bottom: 29rem;

    }
    .main .title-main{
        transform: scale(0.9);
    }
    .cards .card i , button{
        transform: scale(0.8);
    }
    footer h1{
        font-size: 0.9rem;
    }
}
@media(max-width: 430px){
    header #eng{
        margin-top: 30rem;
    }
}
@media(max-width: 920px){
    header #eng{
        margin-top: 30rem;
    }
}
@media(max-width: 1010px){
    header #eng{
        margin-top: 30rem;
    }
}
@media(max-width: 360px){
    header #eng{
        margin-top: 25rem;
    }
}
@media(max-width: 391px){
    header .close-menu span{
        margin-bottom: 30rem;
    }
    header ul li{
        margin-bottom: 40px;
    }
    header #eng{
        margin-top: 25rem;
    }
}
@media(max-width: 320px){
    header .close-menu span{
        margin-bottom: 20rem;
    }
    header ul li{
        transform: scale(0.7);
        margin-bottom: 15px;
    }
    header #eng{
        margin-top: 20rem;
        font-size: 1.1rem;
    }
}
@media(max-width: 415px){
    header .close-menu span{
        margin-bottom: 30rem;
    }
    header ul li{
        margin-bottom: 40px;
    }
    header #eng{
        margin-top: 25rem;
    }
}
@media(max-width: 429px){
    header .close-menu span{
        margin-bottom: 30rem;
    }
    header ul li{
        margin-bottom: 40px;
    }
    header #eng{
        margin-top: 25rem;
    }
}
@media (max-width: 1100px){
    header ul #eng{
        margin-left: 620px;
    }
}
